/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a:link {
     text-decoration: none;
 }


 div.nav-bar
 {
    background-color: darkblue;
    border: 1px solid black;
 }

 body {
  /*opacity: 0.5;*/
  background: url("South_West_Trains.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: darkred;
  text-shadow: 2px 2px maroon;
 }

 div.transbox {
    margin: 50px;
    /*padding: 10px;*/
    width: 40%;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
 }
